{% extends "_base.html" %}

{% block content %}

<form role="form" method="POST" id="post-form" onsubmit="return false">
  <div class="form-group-lg">
      <textarea name="image_urls" rows="10" cols="50" form="post-form" placeholder="Enter a list of image urls separated by new lines" required></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-block btn-success boom" id="search">Submit!</button>
</form>

<form role="form" method="POST" id="post-form-kw" onsubmit="return false">
  <div class="form-group-lg">
      <textarea name="keywords" rows="10" cols="50" form="post-form-kw" placeholder="Enter a list of keywords separated by new lines" required></textarea>
      <textarea name="image_urls_kw" rows="10" cols="50" form="post-form-kw" placeholder="Enter a list of image urls separated by new lines" required></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-block btn-success boom" id="search">Submit!</button>
</form>

<div id="results">
  <h1>Results</h1>
  <div id="results-data"></div>
</div>

<br><br>

<div id="retry"><a href="">Again?</a></div>

{% endblock %}
